<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title><%= title %></title>
</head>

<body>
    <div class="container mx-auto p-6">
        <h1 class="text-2xl font-bold mb-6">All Sessions</h1>
        <button class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-bold py-2 px-4 m-2 rounded focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50">
            <a href="/" class="text-gray-700">Go back</a>
          </button>
        <table class="table-auto border-collapse border border-gray-400">
            <thead>
                <tr class="bg-gray-200">
                    <th class="px-4 py-2 text-gray-800 font-bold">Date</th>
                    <th class="px-4 py-2 text-gray-800 font-bold">Place</th>
                    <th class="px-4 py-2 text-gray-800 font-bold">Player Name</th>
                    <th class="px-4 py-2 text-gray-800 font-bold">Total Players</th>
                </tr>
            </thead>
            <tbody>
                <% sessions.forEach(session => { %>
                    <tr class="<%= session.totalPlayers > 10 ? 'bg-red-100' : '' %>">
                        <td class="border px-4 py-2"><%= session.date %></td>
                        <td class="border px-4 py-2"><%= session.place %></td>
                        <td class="border px-4 py-2"><%= session.playerName %></td>
                        <td class="border px-4 py-2"><%= session.totalPlayers %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>