<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="./css/styles.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="csrf-token" content="<%= csrfToken %>">
  <script>
     var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    function deleteSession(id) {
      // console.log(id)
      fetch(`/sports/${id}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          // csrf csrfToken
          _csrf: token,

        })
      }).then((result) => {
        //redirect the page to updateSession
        if (result.ok) {
          window.location.href = '/sports/<%= session.sport %>'
        }
      }).catch((err) => console.error(err))
    }
/*
    // update session by its id
    function updateSession(id) {
      fetch(`/updateSession/${id}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          // csrf csrfToken
          _csrf: token

        })
      }).then((result) => {
        if (result.ok) {
          window.location.reload()
        }
      }).catch((err) => console.error(err))
    }
    */
    
    function addPlayer(sessionId, name) {
      const inputId = `player-${sessionId}`;
      const inputValue = document.getElementById(inputId).value;

      console.log(`The value of input field with id ${inputId} is: ${inputValue}
     and the name is: ${name}`);
      const addedName = inputValue + ', ' + name;
      fetch(`/sessionDetail/${sessionId}`, {
        method: 'put',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          playerName: addedName,
          _csrf: token
        })
      }).then(res => {
        if (res.ok) {
          window.location.reload()
        }
      })
        .catch((err) => console.error(err))
    }

    function deletePlayer(sessionId, name, totalNames) {

      const arrayOfPlayers = totalNames.split(",");
      const index = arrayOfPlayers.indexOf(name);
      let newName = arrayOfPlayers.splice(index, 1); // remove the player

      newName = arrayOfPlayers.join(", "); // convert array to string
      console.log("newName: " + newName);
      fetch(`/sessionDetail/${sessionId}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          playerName: newName,
          _csrf: token
        })
      }).then(res => {
        if (res.ok) {
          window.location.reload()
        }
      })
        .catch((err) => console.error(err))
    }
  </script>
  <title><%= title %></title>
</head>

<body class="bg-green-100">
  <div class="container mx-auto mt-6 mb-12 p-6 bg-white rounded-lg shadow-lg">
    <div class="flex items-center justify-between">
      <h1 class="text-3xl font-bold text-gray-800 mb-6">Session Details</h1>
      <div class="flex items-center space-x-2">
        <a href="/updateSession/<%= session.sport %>/<%= session.id %>"
          class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded-md text-gray-800 text-sm">Edit</a>
        <a href="#" onclick="deleteSession('<%= session.id %>')"
          class="bg-red-500 hover:bg-red-600 px-4 py-2 rounded-md text-white text-sm">Delete</a>
      </div>
    </div>
    <p class="text-gray-700">This is <span class="text-green-400">
        <%= session.sport %>
      </span> session</p>

    <div class="mt-4 flex items-center space-x-2">
      <p class="text-gray-700">The session will be held at</p>
      <p class="font-bold text-gray-800">
        <%= session.place %>
      </p>
    </div>
    <p class="mt-4 text-gray-700">There are <span class="text-green-400">
        <%= session.totalPlayers %>
      </span> players</p>
    <div class="mt-4 flex flex-wrap gap-2">

      <% const playerNames=session.playerName; %>

        <% const arrayOfPlayers=playerNames.split(","); %>
          <% // arrayOfPlayers.forEach(function(player, index) { %>
            <% for(let i=0; i < arrayOfPlayers.length; i++) { %>



              <div class="bg-gray-200 flex items-center px-3 py-1 rounded-full space-x-2 text-gray-700">
                <span>
                  <%= arrayOfPlayers[i] %>
                </span>
                <% console.log("player: " + arrayOfPlayers[i]) %>
            <!--the button is to delete the player from the session-->
                  <button class=" hover:text-red-600 outline-none focus:outline-none"
                  onclick=" deletePlayer('<%=session.id %>', '<%= arrayOfPlayers[i] %>', '<%= session.playerName %>')">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM6.75 9.25a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z"
                      clip-rule="evenodd" />
                  </svg>

                  </button>

              </div>
              <% } %>
                <% if(session.totalPlayers> arrayOfPlayers.length ) { %>
                  <% // console.log("number or array: ", arrayOfPlayers.length, " and number of players: ", session.totalPlayers) %>
            <div class=" bg-gray-200 flex items-center px-3 py-1 rounded-full space-x-2 text-gray-700">

                    <input type="text" placeholder="name" id="player-<%= session.id %>" name="playerName">
                    <button onclick="addPlayer('<%= session.id %>', ' <%= session.playerName %>')"
                      class="hover:text-red-600 outline-none focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-11.25a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"
                          clip-rule="evenodd" />
                      </svg>
                    </button>
    </div>
    <% } else { %>
      <div class="bg-gray-200 flex items-center px-3 py-1 rounded-full space-x-2 text-gray-700">
        <p class="text-red-700 font-medium">No Slot</p>
      </div>
      <% } %>

  </div>

  </div>
</body>

</html>