<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>To-do Manager</title>
</head><body>


    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <p class="py-2" > <a class=" text-green-400" href="/newSession">Create New Session:</a></p>
            <p class="py-2"><a class=" text-green-400" href="/sessions">View Sessions</a></p>

            <h1 class="text-2xl font-bold mb-4">Sessions for <%= sport %></h1>

<table class="border-collapse w-full">
  <thead>
    <tr>
      <th class="text-left py-3 px-4 uppercase font-semibold text-sm border-b border-gray-600 bg-gray-100">Date</th>
      <th class="text-left py-3 px-4 uppercase font-semibold text-sm border-b border-gray-600 bg-gray-100">Place</th>
      <th class="text-left py-3 px-4 uppercase font-semibold text-sm border-b border-gray-600 bg-gray-100">Player Name</th>
      <th class="text-left py-3 px-4 uppercase font-semibold text-sm border-b border-gray-600 bg-gray-100">Total Players</th>
    </tr>
  </thead>
  <tbody>
    <% sessions.forEach(session => { %>
      <% if (session.sport === sport) { %>
        <tr class="border-b border-gray-400">
          <td class="py-3 px-4 text-sm border-b border-gray-600"><%= session.date %></td>
          <td class="py-3 px-4 text-sm border-b border-gray-600"><%= session.place %></td>
          <td class="py-3 px-4 text-sm border-b border-gray-600"><%= session.playerName %></td>
          <td class="py-3 px-4 text-sm border-b border-gray-600"><%= session.totalPlayers %></td>
        </tr>
      <% } %>
    <% }); %>
  </tbody>
</table>

        </div>
    </div>
</body>

</html>